# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Saved models (optional but recommended)
models/saved_models/*.pkl
